Repository amavumkal/ubpilots, pull requests merged in 2018-04, with the labels that each got.

#142 simplied admin
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
Labels: front end

#166 modified delete endpoint
  backend/src/logbook/Logbook.js
  backend/src/routes/logbook_endpoints/index.js
Labels: back end

#203 Form validation fix - Password requirement change
  frontend/src/app/components/logbook-form/logbook-form.component.css
  frontend/src/app/components/logbook-form/logbook-form.component.html
  frontend/src/app/components/nav/nav.component.css
  frontend/src/app/components/nav/nav.component.html
  frontend/src/app/components/signup/signup.component.css
  frontend/src/app/components/signup/signup.component.html
Labels: front end

#205 frontend loginredo
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
Labels: front end

#207 Updated login for nav bar and login page
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/nav/nav.component.css
  frontend/src/app/components/nav/nav.component.ts
Labels: back end, front end

#210 Changed checkboxes so only admins have them
  frontend/src/app/components/footer/footer.component.html
  frontend/src/app/components/logbook/logbook.component.html
Labels: front end
